/*
- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  /*Primary color*/
  --clr-Green-500: hsl(158, 36%, 37%);
  --clr-Green-700: hsl(158, 42%, 18%);

  /*Neutral color*/
  --clr-Black: hsl(212, 21%, 14%);
  --clr-Grey: hsl(228, 12%, 48%);
  --clr-Cream: hsl(30, 38%, 92%);
  --clr-White: hsl(0, 0%, 100%);

  --ff-Mont: "Montserrat", sans-serif;
  --ff-Frau: "Fraunces", serif;
}

.montserrat-wrapper {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.fraunces-wrapper {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

html {
  font-family: var(--ff-Mont);
  background-color: var(--clr-Cream);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  color: var(--clr-Black);
}

body {
  padding-block-start: 5rem;
  width: 100%;
  height: 100vh;
  color: var(--clr-Cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-White);
  border-radius: 0.625rem;
  max-width: 21.8125rem;
}

.product {
  max-width: 21.8125rem;
  display: block;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.content {
  padding: 2rem;
}

h1 {
  font-size: 0.6875rem;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
  padding-block-end: 1.875rem;
  color: var(--clr-Grey);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--ff-Frau);
  padding-block-end: 1.875rem;
}

.description > p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--clr-Grey);
  padding-block-end: 1.875rem;
}

.price {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: var(--ff-Frau);
  padding-block-end: 1.875rem;
}

.discount_price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-Green-500);
}

.actual_price {
  font-size: 0.875rem;
  text-decoration-line: line-through;
  color: var(--clr-Grey);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.8125rem;
  height: 3.125rem;
  gap: 0.5rem;
  border: 0;
  border-radius: 0.625rem;
  background-color: var(--clr-Green-500);
}

button > p {
  color: var(--clr-White);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
